<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生管理</title>
</head>
<body>
    <h1>学生一覧</h1>

    <p>
        <a th:href="@{/projects}">案件一覧</a>
    </p>

    <!-- 新規登録ボタン -->
    <a th:href="@{/students/new}">新規登録</a>

    <!-- 一覧表 -->
    <table border="1">
        <tr>
            <th>ID</th>
            <th>名前</th>
            <th>Email</th>
            <th>電話番号</th>
            <th>クラス</th>
            <th>操作</th>
        </tr>
        <tr th:each="student : ${students}">
            <td th:text="${student.studentId}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.phone}"></td>
            <td th:text="${student.className}"></td>
            <td>
                <a th:href="@{/students/edit/{id}(id=${student.studentId})}">編集</a>
                <a th:href="@{/students/delete/{id}(id=${student.studentId})}"
                   onclick="return confirm('削除しますか？');">削除</a>				|
				        <!-- 成績一覧 -->
				        <a th:href="@{/students/{id}/records/list(id=${student.studentId})}">成績一覧</a>
            </td>
        </tr>
    </table>
</body>
</html>
