<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students List</title>
</head>
<body>
    <h1>Students List</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Class</th>
        </tr>
        <tr th:each="student : ${students}">
            <td th:text="${student.studentId}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.phone}"></td>
            <td th:text="${student.className}"></td>
        </tr>
    </table>
</body>
</html>